# CMake build directory — run 'cmake ..' inside a build/ subfolder
build/

# Compiled library output
*.dll
*.so
*.so.*
*.dylib
*.pyd
*.exp
*.lib
*.ilk
*.pdb

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
.eggs/
*.egg
.pytest*
.venv

# VS Code workspace settings (keep extensions.json if desired)
.vscode/

# Runtime log files created by TheiaMCR
*.log
TheiaMCR_log*/

# macOS
.DS_Store

# others
upload instructions.txt
.archive*
debug_procedure.txt